@using WishList.Models

@{
     List<WishList.Models.Item> items = new List<Item>();

     WishList.Models.Item x = new Item();
     x.Id = 1;
    x.Description = "suger";
   items.Add(x);
    WishList.Models.Item u = new Item();
    u.Id = 2;
    u.Description = "Rice";
    items.Add(u);
}

<h1>Wishlist</h1>
<a asp-action="create" title="Add item"></a>
<ul>

    @foreach (var z in items)
    {
        <li>@z.Id</li>
        <li>@z.Description</li>

    }


</ul>

